.heading{
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: .1rem solid var(--light-color);
    font-size: 3rem;
    color: var(--black-color);
    text-transform: uppercase;  
}

.heading span{
    color: var(--orange);
    text-transform: uppercase;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--black-color);
    font-size: 1.8rem;
    color: var(--white-color);
    border-radius: 5rem;
    padding: .9rem 3.5rem;
    cursor: pointer;
}

.btn:hover{
    background: var(--orange);
    color: #fff;
}

section{
    padding: 1rem 9%;
}

.home{
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
}

.home .content{
    flex:1 1 40rem;
}

.home .image{
    flex:1 1 40rem;
    text-align: center;
}

.home .image img{
    width: 35vw;
}

.home .content span{
    color: var(--orange);
    font-size: 3rem;

}

.home .content h3{
    color: var(--black-color);
    font-size: 8rem;
    text-transform: uppercase;
    
}


.category .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.category .box-container .box{
    height: 30rem;
    flex: 1 1 40rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}


.category .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.category .box-container .box:hover img{
    transform: scale(1.1);
}

.category .box-container .content{
    position: absolute;
    bottom:7rem;
    left: 2rem;
}

.category .box-container .content span{
    font-size: 2rem;
    color: var(--orange);
}
.category .box-container .content span{
    font-size: 3rem;
    color: #3337;
    text-transform: uppercase;
    padding-top: .5rem;
}

.products .product-slider .slide{
    overflow: hidden;
    position: relative;
    border: .1rem solid var(--light-color);
    border-radius: .5rem;
    background: var(--white-color);
}

.products .product-slider .slide .image img{
    height: 50rem;
    width: 100%;
    object-fit: cover;
}


.products .product-slider .slide .content{
    padding: 2rem;
    border-top: .1rem solid var(--light-color);
}

.products .product-slider .slide .content .stars i{
    font-size: 2rem ;
    color: var(--orange);

}

.products .product-slider .slide .content .stars span{
    font-size: 2rem;
    color: var(--black-color);
    font-weight: 300;
}

.products .product-slider .slide .content h3{
    color: var(--black-color);
    font-weight: normal;
    font-size: 2.5rem;
    padding: .5rem 0;

}

.products .product-slider .slide .content .price{
    color: var(--orange);
    font-weight: bolder;
    font-size: 2.5rem;
    padding: .5rem 0;

}

.products .product-slider .slide .content .price span{
    color: var(--black-color);
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: line-through;

}

.products .product-slider .swiper-button-next,
.products .product-slider .swiper-button-prev{
    color:var(--black-color) ;
}

.products .gap{
    margin-bottom: 2rem;
}

/* featured section */

.featured .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.featured .box-container .box{
    flex:1 1 27rem;
    background: var(--white-color);
    border:.1rem solid var(--light-color);
    border-radius: .5rem;
    padding:1rem;
}

.featured .box-container .box .image-container{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding:1rem;
}

.featured .box-container .box .image-container .small-image{
    width:20%;
}

.featured .box-container .box .image-container .big-image{
    width:80%;
}

.featured .box-container .box .image-container .small-image img{
    width:100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border:.1rem solid var(--light-color);
    cursor: pointer;
    border-radius: 2rem;
    box-shadow: 1px 2px 3px var(--light-color);
}

.featured .box-container .box .image-container .big-image img{
    width:100%;
    border-radius: 2rem;
    border:.1rem solid var(--light-color);
    box-shadow: 1px 2px 3px var(--light-color);

    
}

.featured .box-container .box .content{
    padding:1rem;
    border-top: .1rem solid var(--light-color);
}

.featured .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--black-color);
  
}

.featured .box-container .box .content .stars{
    padding: .5rem 0;
}

.featured .box-container .box .content .stars i{
    font-size: 1.5rem;
    color:var(--orange);
}

.featured .box-container .box .content .stars span{
    font-size: 1.5rem;
    color:var(--black-color);
    font-weight: 300;
}

.featured .box-container .box .content p{
    color:var(--black-color);
    font-size: 1.5rem;
    padding:.5rem 0;
}

.featured .box-container .box .content .price{
    color:var(--orange);
    font-size: 2.5rem;
    padding:.5rem 0;
    font-weight: bolder;
}

.featured .box-container .box .content .price span{
    color:var(--black-color);
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: normal;
}


/* deals Section */
.deal .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
    border: .1rem solid var(--light-color);
    background: var(--white-color);
    border-radius: .5rem;
    padding: 1rem;
}


.deal .row .content{
    flex: 1 1 40rem;
    padding: 1rem;
}

 .deal .row .image{
    flex: 1 1 40rem;
    padding: 2rem;
}

.deal .row .image img{
   width: 50%;
   background-color: var(--black-color);
   border-radius: 2rem;
   padding-left: 10rem;
  
}

.deal .row .discount{
    font-size: 3rem;
    color: var(--orange);
    
}

.deal .row .text{
    font-size: 4rem;
    color: var(--black-color);
    padding: .5rem 0;
    
}

.deal .row .count-down{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: .5rem 0;
}

.deal .row .count-down h3{
    color: var(--orange);
    font-size: 4rem;
}

.deal .row .count-down span{
    color: var(--black-color);
    font-size: 1.5rem;
}


.footer .footer-container{
    background: var(--white-color);
    border: .1rem solid var(--light-color);
    border-radius: .5rem;
    padding: 2rem;
    
}


.footer .footer-container .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    padding: 0 5rem;
    text-align: justify;
}

.footer .footer-container .box-container .box{
    flex: 1 1 25rem;
  
}
.footer .footer-container .box-container .box h3{
    color: var(--orange);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .footer-container .box-container .box a{
    display: block;
    color: var(--black-color);
    font-size: 1.7rem;
    padding: 1rem 0; 
}

.footer .footer-container .box-container .box a:hover{
    
    color: var(--orange);
    letter-spacing: .1rem;
}

.footer .footer-container .box-container  a span{
    padding-left: 2rem;
    font-weight: 300;
}


@media (max-width:1003px){
    .home .content h3{
        font-size: 5rem ;
    }

    .home .content{
        text-align: center;
    }

    .home .image img{
        width: 100%;
    }

    .heading{
        text-align: center;
        font-size: 2.5rem;
        border-bottom: none;
    }
    
}

@media (max-width:750px){
    .deal .row .count-down h3{
        font-size: 2.5rem;
       
    }
    .deal .row .text{
        font-size: 3rem;
        font-weight: 500;
    }
    
    
}

@media (max-width:450px){
    .category .box-container .box{
        background-image:url(../images/deal.png);
      
    }
}

@media (max-width:280px){
    .deal .row .count-down h3{
        font-size: 2rem;
       
    }
    .deal .row .text{
        font-size: 2.5rem;
        font-weight: 400;
    }
    
    
}